# 03 – Dashboard Prep (Corporate Exposure Overview)

In this notebook I prepare **clean, aggregated tables** for a
"Corporate Exposure Overview" dashboard (Power BI / Tableau).

The goals are to:

- Compute **core KPIs** for the portfolio (total limits, outstanding, utilisation).
- Build a **Top 20 groups** table with exposure and concentration.
- Build **sector**, **country**, and **rating band** exposure tables.
- Optionally join to a simple **limits table** to show exposure vs limits.

All outputs are saved as small CSV files in `../data/dashboard/` that can be
used directly as data sources for BI dashboards.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

pd.set_option("display.float_format", "{:,.2f}".format)

In [2]:
# Paths
data_dir = Path("../data")
dashboard_dir = data_dir / "dashboard"
dashboard_dir.mkdir(exist_ok=True)

exposure_path = data_dir / "corp_exposure_snapshot.csv"
limits_path = data_dir / "corp_limits.csv"

exposure_path, limits_path, dashboard_dir

(WindowsPath('../data/corp_exposure_snapshot.csv'),
 WindowsPath('../data/corp_limits.csv'),
 WindowsPath('../data/dashboard'))

In [3]:
# Load exposure snapshot
df = pd.read_csv(exposure_path, parse_dates=["origination_date", "maturity_date"])

# Load limits table (if it exists)
try:
    limits = pd.read_csv(limits_path, parse_dates=["last_review_date"])
except FileNotFoundError:
    limits = None
    print("Warning: corp_limits.csv not found – limit-based tables will be skipped.")

df.head(), df.shape

(   facility_id  obligor_id  obligor_name  group_id group_name country  \
 0            1         183  Obligor_0183         8  Group_008      UK
 1            2          90  Obligor_0090        33  Group_033      CN
 2            3         117  Obligor_0117        46  Group_046      KZ
 3            4          62  Obligor_0062        20  Group_020      JP
 4            5          23  Obligor_0023        73  Group_073      CN

           region         sector product_type  internal_rating  \
 0  North America      Transport  Derivatives                4
 1          LATAM         Retail    Term_Loan                5
 2          LATAM  Manufacturing    Term_Loan                3
 3           APAC         Energy    Term_Loan                3
 4  North America      Transport    Guarantee                2

         rating_band currency  limit_amount  outstanding_amount  \
 0  Investment_Grade      USD    110,000.00           50,186.00
 1            Sub_IG      EUR    750,000.00          561,751.00
 2  Investment_Grade      EUR    210,000.00          117,823.00
 3  Investment_Grade      USD    520,000.00          305,324.00
 4  Investment_Grade      USD  1,890,000.00        1,168,682.00

    undrawn_amount  collateral_value origination_date maturity_date  \
 0       59,814.00         22,768.00       2022-08-05    2023-10-26
 1      188,249.00        623,818.00       2021-03-12    2022-11-28
 2       92,177.00         13,373.00       2023-11-04    2026-12-26
 3      214,676.00        344,305.00       2020-10-17    2025-02-21
 4      721,318.00      1,010,757.00       2016-01-28    2019-07-29

    interest_rate  is_defaulted
 0           0.04             0
 1           0.05             0
 2           0.04             0
 3           0.04             0
 4           0.03             0  ,
 (1000, 20))

In [4]:
total_limit = df["limit_amount"].sum()
total_outstanding = df["outstanding_amount"].sum()
total_undrawn = df["undrawn_amount"].sum()
utilisation = total_outstanding / total_limit if total_limit > 0 else np.nan

kpi_df = pd.DataFrame(
    {
        "metric": [
            "total_limit",
            "total_outstanding",
            "total_undrawn",
            "utilisation",
        ],
        "value": [
            total_limit,
            total_outstanding,
            total_undrawn,
            utilisation,
        ],
    }
)

kpi_df

              metric          value
0        total_limit 570,520,000.00
1  total_outstanding 339,943,027.00
2      total_undrawn 230,576,973.00
3        utilisation           0.60

In [5]:
kpi_output_path = dashboard_dir / "dashboard_kpis.csv"
kpi_df.to_csv(kpi_output_path, index=False)
kpi_output_path

WindowsPath('../data/dashboard/dashboard_kpis.csv')

In [6]:
total_outstanding = df["outstanding_amount"].sum()

group_exposure = (
    df.groupby(["group_id", "group_name"], observed=True)["outstanding_amount"]
      .sum()
      .reset_index()
      .sort_values("outstanding_amount", ascending=False)
)

group_exposure["share_pct"] = (
    group_exposure["outstanding_amount"] / total_outstanding * 100
)
group_exposure["outstanding_mn"] = group_exposure["outstanding_amount"] / 1e6

top20_groups = group_exposure.head(20).copy()
top20_groups

    group_id group_name  outstanding_amount  share_pct  outstanding_mn
30        33  Group_033       17,153,207.00       5.05           17.15
50        54  Group_054       11,398,552.00       3.35           11.40
31        35  Group_035       11,182,325.00       3.29           11.18
1          2  Group_002       11,068,060.00       3.26           11.07
17        19  Group_019       10,431,091.00       3.07           10.43
56        60  Group_060       10,227,978.00       3.01           10.23
29        32  Group_032        9,288,606.00       2.73            9.29
22        24  Group_024        9,139,663.00       2.69            9.14
66        70  Group_070        8,880,372.00       2.61            8.88
44        48  Group_048        8,095,579.00       2.38            8.10
6          7  Group_007        7,921,378.00       2.33            7.92
18        20  Group_020        7,225,233.00       2.13            7.23
7          8  Group_008        7,143,249.00       2.10            7.14
42        46  Group_046        6,814,431.00       2.00            6.81
15        17  Group_017        6,780,845.00       1.99            6.78
14        16  Group_016        6,522,031.00       1.92            6.52
32        36  Group_036        6,454,724.00       1.90            6.45
48        52  Group_052        6,337,840.00       1.86            6.34
54        58  Group_058        6,037,192.00       1.78            6.04
20        22  Group_022        5,629,164.00       1.66            5.63

In [7]:
if limits is not None:
    single_limits = limits[limits["limit_type"] == "SingleName"].copy()
    single_limits = single_limits.rename(
        columns={"dimension_value": "group_name", "limit_amount": "single_name_limit"}
    )

    top20_groups_limits = top20_groups.merge(
        single_limits[["group_name", "single_name_limit", "warning_threshold_pct"]],
        on="group_name",
        how="left",
    )

    # Headroom vs limit
    top20_groups_limits["utilisation_pct_of_limit"] = (
        top20_groups_limits["outstanding_amount"]
        / top20_groups_limits["single_name_limit"]
        * 100
    )

    top20_groups_limits
else:
    top20_groups_limits = top20_groups.copy()
    print("No limits available – top 20 table without limits.")

In [8]:
top_groups_output_path = dashboard_dir / "dashboard_top20_groups.csv"
top20_groups_limits.to_csv(top_groups_output_path, index=False)
top_groups_output_path

WindowsPath('../data/dashboard/dashboard_top20_groups.csv')

In [9]:
sector_exposure = (
    df.groupby("sector", observed=True)["outstanding_amount"]
      .sum()
      .reset_index()
      .sort_values("outstanding_amount", ascending=False)
)

sector_exposure["share_pct"] = (
    sector_exposure["outstanding_amount"] / total_outstanding * 100
)
sector_exposure["outstanding_mn"] = sector_exposure["outstanding_amount"] / 1e6
sector_exposure

          sector  outstanding_amount  share_pct  outstanding_mn
1  Manufacturing       69,714,057.00      20.51           69.71
4            TMT       66,428,053.00      19.54           66.43
3         Retail       64,069,600.00      18.85           64.07
2    Real_Estate       41,436,104.00      12.19           41.44
5      Transport       36,996,240.00      10.88           37.00
6      Utilities       34,497,513.00      10.15           34.50
0         Energy       26,801,460.00       7.88           26.80

In [10]:
if limits is not None:
    sector_limits = limits[limits["limit_type"] == "Sector"].copy()
    sector_limits = sector_limits.rename(
        columns={"dimension_value": "sector", "limit_amount": "sector_limit"}
    )

    sector_exposure_limits = sector_exposure.merge(
        sector_limits[["sector", "sector_limit", "warning_threshold_pct"]],
        on="sector",
        how="left",
    )

    sector_exposure_limits["utilisation_pct_of_limit"] = (
        sector_exposure_limits["outstanding_amount"]
        / sector_exposure_limits["sector_limit"]
        * 100
    )

    sector_exposure_limits
else:
    sector_exposure_limits = sector_exposure.copy()
    print("No sector limits – sector table without limits.")

In [11]:
sector_output_path = dashboard_dir / "dashboard_sector_exposure.csv"
sector_exposure_limits.to_csv(sector_output_path, index=False)
sector_output_path

WindowsPath('../data/dashboard/dashboard_sector_exposure.csv')

In [12]:
country_exposure = (
    df.groupby("country", observed=True)["outstanding_amount"]
      .sum()
      .reset_index()
      .sort_values("outstanding_amount", ascending=False)
)

country_exposure["share_pct"] = (
    country_exposure["outstanding_amount"] / total_outstanding * 100
)
country_exposure["outstanding_mn"] = country_exposure["outstanding_amount"] / 1e6
country_exposure

   country  outstanding_amount  share_pct  outstanding_mn
6       JP       74,718,726.00      21.98           74.72
1       CN       50,027,304.00      14.72           50.03
0       BR       30,467,285.00       8.96           30.47
5       IT       29,648,403.00       8.72           29.65
10      US       28,119,640.00       8.27           28.12
2       DE       26,634,773.00       7.84           26.63
8       MX       26,463,980.00       7.78           26.46
4       FR       25,759,282.00       7.58           25.76
9       UK       23,310,734.00       6.86           23.31
7       KZ       15,681,188.00       4.61           15.68
3       ES        9,111,712.00       2.68            9.11

In [13]:
if limits is not None:
    country_limits = limits[limits["limit_type"] == "Country"].copy()
    country_limits = country_limits.rename(
        columns={"dimension_value": "country", "limit_amount": "country_limit"}
    )

    country_exposure_limits = country_exposure.merge(
        country_limits[["country", "country_limit", "warning_threshold_pct"]],
        on="country",
        how="left",
    )

    country_exposure_limits["utilisation_pct_of_limit"] = (
        country_exposure_limits["outstanding_amount"]
        / country_exposure_limits["country_limit"]
        * 100
    )

    country_exposure_limits
else:
    country_exposure_limits = country_exposure.copy()
    print("No country limits – country table without limits.")

In [14]:
country_output_path = dashboard_dir / "dashboard_country_exposure.csv"
country_exposure_limits.to_csv(country_output_path, index=False)
country_output_path

WindowsPath('../data/dashboard/dashboard_country_exposure.csv')

In [15]:
rating_exposure = (
    df.groupby("rating_band", observed=True)["outstanding_amount"]
      .sum()
      .reset_index()
      .sort_values("outstanding_amount", ascending=False)
)

rating_exposure["share_pct"] = (
    rating_exposure["outstanding_amount"] / total_outstanding * 100
)
rating_exposure["outstanding_mn"] = rating_exposure["outstanding_amount"] / 1e6

rating_output_path = dashboard_dir / "dashboard_rating_exposure.csv"
rating_exposure.to_csv(rating_output_path, index=False)

rating_exposure, rating_output_path

(        rating_band  outstanding_amount  share_pct  outstanding_mn
 0  Investment_Grade      214,560,148.00      63.12          214.56
 1            Sub_IG       88,513,853.00      26.04           88.51
 2         Watchlist       36,869,026.00      10.85           36.87,
 WindowsPath('../data/dashboard/dashboard_rating_exposure.csv'))

In [16]:
sector_long = sector_exposure[["sector", "outstanding_amount", "share_pct"]].copy()
sector_long["dimension_type"] = "Sector"
sector_long = sector_long.rename(columns={"sector": "dimension_value"})

country_long = country_exposure[["country", "outstanding_amount", "share_pct"]].copy()
country_long["dimension_type"] = "Country"
country_long = country_long.rename(columns={"country": "dimension_value"})

rating_long = rating_exposure[["rating_band", "outstanding_amount", "share_pct"]].copy()
rating_long["dimension_type"] = "Rating_Band"
rating_long = rating_long.rename(columns={"rating_band": "dimension_value"})

dashboard_long = pd.concat(
    [sector_long, country_long, rating_long],
    ignore_index=True
)

dashboard_long_output_path = dashboard_dir / "dashboard_exposure_long.csv"
dashboard_long.to_csv(dashboard_long_output_path, index=False)

dashboard_long.head(), dashboard_long_output_path

(  dimension_value  outstanding_amount  share_pct dimension_type
 0   Manufacturing       69,714,057.00      20.51         Sector
 1             TMT       66,428,053.00      19.54         Sector
 2          Retail       64,069,600.00      18.85         Sector
 3     Real_Estate       41,436,104.00      12.19         Sector
 4       Transport       36,996,240.00      10.88         Sector,
 WindowsPath('../data/dashboard/dashboard_exposure_long.csv'))

## 4. Dashboard prep – summary

This notebook prepares a set of **clean, aggregated tables** for the
"Corporate Exposure Overview" dashboard.

Files created in `../data/dashboard/`:

- `dashboard_kpis.csv`  
  – total limits, outstanding, undrawn and utilisation.

- `dashboard_top20_groups.csv`  
  – Top 20 corporate groups by outstanding exposure, with:
  - exposure in absolute terms and millions,
  - share of portfolio (%),
  - (optionally) single-name limit and utilisation vs limit.

- `dashboard_sector_exposure.csv`  
  – exposure by sector, share of portfolio and (optionally) sector limits.

- `dashboard_country_exposure.csv`  
  – exposure by country, share of portfolio and (optionally) country limits.

- `dashboard_rating_exposure.csv`  
  – exposure by rating band (Investment_Grade, Sub_IG, Watchlist).

- `dashboard_exposure_long.csv` (optional)  
  – a "long" table with `dimension_type` (Sector / Country / Rating_Band),
    `dimension_value`, exposure and share_pct, useful for generic bar charts
    in Power BI / Tableau.

These tables allow the BI tool to stay **simple and fast** – it only needs to
read small, aggregated CSVs – while the **logic and reproducibility** stay in
Python notebooks under version control.

In an interview, I can walk through:

- how raw facility-level exposure is turned into group/sector/country views,
- how limits and utilisation are calculated,
- and how these tables feed a corporate exposure dashboard used by
  risk and portfolio management.